<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="header">
        <div class="left">
            {% if session.get('user_id') %}
                <span>Hoş Geldiniz, {{ session.username }}</span>
            {% endif %}
        </div>
        <div class="right">
            {% if session.get('user_id') %}
                <a href="/logout" class="auth-button">Çıkış Yap</a>
            {% else %}
                <a href="/register" class="auth-button">Kayıt Ol</a>
                <a href="/login" class="auth-button">Giriş Yap</a>
            {% endif %}
            <a href="/index" class="auth-button">Anasayfa</a>
            <button class="auth-button" onclick="goBack()">Geri</button>
            <script>
                function goBack() {
                    if (document.referrer) {
                        // Bir önceki sayfa varsa geri git
                        window.history.back();
                    } else {
                        // Önceki sayfa yoksa bulunduğun sayfada kal
                        alert("Geri dönecek bir sayfa yok!");
                    }
                }
            </script>
        </div>
    </div>  
    
    </div>   
    <div class="register-container">
        <h1>KAYIT OL</h1>
        <form method="POST" action="/register" class="register-form">
            <div class="form-group">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="KULLANICI ADI" required>
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="ŞİFRE" required>
            </div>
            <button type="submit" class="btn">Kayıt Ol</button>
        </form>
            <p class="register-link">Eğer hesabınız var ise <a href="/login">Giriş Yap</a></p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
    </div>
</body>
</html>
